.price-page {
    background: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  .price-page-title {
    font-size: 3rem;
    margin-bottom: 40px;
    text-align: center;
    background: linear-gradient(40deg,rgb(175, 68, 192),white);
    color: transparent;
    background-clip: text;
  }
  
  .price-cards-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .price-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .price-card:hover {
    transform: scale(1.1);
    box-shadow: 0 12px 20px rgba(163, 158, 158, 0.5);
    transition: transform 0.6s ease, box-shadow 0.3s ease;
  
  }
  
  .price-card-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .price-card-features {
    text-align: left;
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
  }
  
  .price-card-features li {
    margin-bottom: 10px;
    font-size: 1rem;
  }
  
  .price-card-price {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .price-card-button {
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .price-card-button:hover {
    background: linear-gradient(135deg, #0072ff, #00c6ff);
  }
  
  .free-card {
    border: 2px solid #4caf50;
    box-shadow: inset 0px 0px 20px rgba(0, 128, 0, 0.659);
  }
  
  .pro-card {
    border: 2px solid #ff9800;
    box-shadow: inset 0px 0px 20px #ff990081;
  }
  
  .personal-card {
    border: 2px solid #e91e63;
    box-shadow: inset 0px 0px 20px #b63460;
  }
  