@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");


body::-webkit-scrollbar{
  display: none;
    width: 10px;
    background-color: black;
 }
 
 body::-webkit-scrollbar-thumb{
     background: #8e2de2;
     border-radius: 20px;
     height: 10px;
 }

 body::-webkit-scrollbar-track{
    border-radius: 20px;
  background-color: rgb(9, 9, 9);  
}

.main-layout {
  transition: filter 0.3s ease-in-out;
}

.main-layout.blurred {
  filter: blur(10px);
  pointer-events: none; /* Disable interaction with blurred content */
}
